<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h5 class="modal-title">新增文件</h5>
</div>
<div style="visibility:{{loading?'visible':'collapse'}}" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
<div class="modal-body">
    <from>
        <div id="NameInput" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo {{Name.length > 0 ? 'is-dirty' : ''}}">
            <input class="mdl-textfield__input" maxlength="128" type="text" id="Name" ng-model="Name" />
            <label class="mdl-textfield__label" for="Name">名稱</label>
        </div><br />
        <div id="FileInput" class="mdl-textfield  mdl-textfield--floating-label textfield-demo is-dirty">
            <input class="mdl-textfield__input" type="file" id="File" accept=".jpg,.gif,.png,.doc,.xls,.ppt,.docx,.xlsx,.pptx,.pdf" />
            <label class="mdl-textfield__label" for="File">檔案(檔案大小限制16MB以下)</label>
        </div>
        檔案類型必須為jpg,gif,png,doc,xls,ppt,docx,xlsx,pptx,pdf格式
    </from>
</div>
<div class="modal-footer">
    <button tabindex="3" ng-disabled="loading" ng-click="upload()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        上傳
    </button>
    <button tabindex="4" ng-disabled="loading" ng-click="cancel()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        取消
    </button>
</div>