<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h5 class="modal-title">插入圖片</h5>
</div>
<div style="visibility:{{loading?'visible':'collapse'}}" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
<div class="modal-body">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
        <input class="mdl-textfield__input" maxlength="128" type="text" ng-model="name" />
        <label class="mdl-textfield__label">輔助文字</label>
    </div><br />
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <select ng-disabled="loading" class="mdl-textfield__input" ng-model="image">
            <option ng-repeat="t in imageList" value="{{t.file.url}}">{{t.name || t.file.name}}</option>
        </select>
        <label class="mdl-textfield__label">圖片</label>
    </div>
    <div style="border: 2px dashed #37474f;background-color:#c6c6c6;height:250px;background: url({{image}}) center / contain no-repeat;">

    </div>
</div>
<div class="modal-footer">
    <button tabindex="3" ng-disabled="loading" ng-click="ok()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        確定
    </button>
    <button tabindex="4" ng-disabled="loading" ng-click="cancel()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        取消
    </button>
</div>