<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h5 class="modal-title">更新基本資料</h5>
</div>
<div style="visibility:{{loading?'visible':'collapse'}}" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
<div class="modal-body">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
        <input ng-disabled="loading" class="mdl-textfield__input" maxlength="128" type="text" ng-model="name" />
        <label class="mdl-textfield__label">姓名</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <select ng-disabled="loading" class="mdl-textfield__input" ng-model="department">
            <optgroup ng-repeat="t in collegeList" label="{{t.name}}">
                <option ng-repeat="t2 in t.departments" value="{{t2.id}}">{{t2.name}}</option>
            </optgroup>
        </select>
        <label class="mdl-textfield__label">系所</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
        <input ng-disabled="loading" class="mdl-textfield__input" maxlength="128" type="email" ng-model="email" />
        <label class="mdl-textfield__label">信箱</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
        <input ng-disabled="loading" class="mdl-textfield__input" maxlength="128" type="text" ng-model="phone" />
        <label class="mdl-textfield__label">電話(非公開)</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo is-dirty">
        <div>
            <div ng-hide="specialty.length">
                您尚未加入專長
            </div>
            <div ng-repeat="t in specialty">
                <button type="button" class="close item-close" ng-click="removeSpecialty(t)"><span aria-hidden="true">&times;</span></button>
                {{t.value}}
            </div>
        </div>
        <label class="mdl-textfield__label">專長列表</label>
    </div>
    <select class="mdl-textfield__input" ng-model="specialtySelect">
        <option ng-repeat="s in specialtyList" value="{{s}}">{{s}}</option>
        <option value="">自訂</option>
    </select>
    <div ng-show="specialtySelect==''" class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" maxlength="32" type="text" ng-model="specialtyInput">
        <label class="mdl-textfield__label">自訂專長</label>
    </div>
    <button type="button" ng-click="addSpecialty()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        加入專長需求項目
    </button>
</div>
<div class="modal-footer">
    <button tabindex="2" ng-disabled="loading" ng-click="uploadPhoto()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        上傳大頭貼
    </button>
    <button tabindex="3" ng-disabled="loading" ng-click="ok()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        確定
    </button>
    <button tabindex="4" ng-disabled="loading" ng-click="cancel()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        取消
    </button>
</div>