<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h5 class="modal-title">登入</h5>
</div>
<div style="visibility:{{loading?'visible':'collapse'}}" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
<div class="modal-body">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input tabindex="1" ng-disabled="loading" class="mdl-textfield__input" type="text" ng-model="id"/>
        <label class="mdl-textfield__label">帳號</label>
        <span class="mdl-textfield__error">帳號不該為空</span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input tabindex="2" ng-disabled="loading" class="mdl-textfield__input" type="password" ng-model="pwd"/>
        <label class="mdl-textfield__label">密碼</label>
        <span class="mdl-textfield__error">密碼不該為空</span>
    </div>
</div>
<div class="modal-footer">
    <button id="fblogin" tabindex="4" ng-disabled="loading" ng-click="facebookLogin()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        <i class="fa fa-facebook-square" aria-hidden="true"></i> FB登入
    </button>
    <button id="login" tabindex="3" ng-disabled="loading" ng-click="login()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        登入
    </button>
    <button id="cancelLogin" tabindex="5" ng-disabled="loading" ng-click="cancel()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        取消
    </button>
</div>