.markdown-video-div {
    display:block;
    padding-bottom: 0 !important;
    height: 480px !important; 
    text-align: center;
}
.markdown-video-div > .mce-object-iframe{
    width:80%;
}
.markdown-video-div > .mce-object-iframe > iframe{
    width:100%;
}
.mce-preview-object{
    height:480px !important;
}
img{
    max-width: 100%;
    display: block;
    margin: auto;
}
@media(max-width:1025px) {
    .markdown-video-div > .mce-object-iframe{
        height:400px !important;
        width:100%;
    }
    .markdown-video-div > .mce-object-iframe > iframe{
        height:400px !important;
    }
    .markdown-video-div {
        height: 400px !important;
    }
    .mce-preview-object{
        height:400px !important;
    }
}
body{
    font-family: 'Microsoft JhengHei' !important;
}
td,th{
    width:50px;
    border: 1px solid black;
}
table{
    margin-left: auto;
    margin-right: auto;
}
img{/*提案正文圖片置中*/
     display:block;
     margin:auto;
}
.emoji {
      width: 1em !important;
      height: 1em !important;
      vertical-align: baseline !important;
      display: initial !important;
}