<h4>
    團隊名稱: {{project.team.name || "未命名團隊"}}
    <button ng-click="changeTeamName()" id="project-teamName-edit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        <i class="fa fa-pencil" aria-hidden="true"></i>變更團隊名稱
    </button>
</h4>
<div class="nkfust-project-member">
    <h5>團隊成員</h5>
    <!--加入新隊員的按鈕只有可進行新增成員的人可以看到-->
    <button ng-style="unSetableStyle" ng-click="addTeamMember(true)" id="project_member_add" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored nkfust-project-member-add">
        <i class="material-icons">add</i>
    </button>
    <div class="mdl-tooltip" for="project_member_add">新增團隊成員</div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
            <div class="nkfust-memberList-card-image mdl-card__title mdl-card--expand" style="background: url({{project.owner.photo.url || 'images/user.png'}}) center / cover;">
                <div class="nkfust-list-pid">隊長</div>
                <h2 style="cursor:pointer" class="mdl-card__title-text nkfust-list-imageTitle">
                    <a style="color:white" href="about.html?id={{project.owner.id}}" target="_blank">{{project.owner.name}}</a>
                </h2>
            </div>
            <div class="mdl-card__supporting-text nkfust-list-card-content">
                <label>學號:</label>{{project.owner.studentId || '未填寫'}}<br />
                <label>學院:</label>{{project.owner.department.college.name || '未填寫'}}<br />
                <label>系所:</label>{{project.owner.department.name || "未填寫"}}<br />
                <label>專長:</label>
                <span ng-hide="project.owner.specialty.length">未填寫</span>
                <span ng-repeat="t in project.owner.specialty">
                    <span ng-show="t != project.owner.specialty[0]">、</span>{{t}}
                </span>
            </div>
        </div>
        <div ng-repeat="t in project.team.member" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
            <div class="nkfust-memberList-card-image mdl-card__title mdl-card--expand" style="background: url({{t.user.photo.url || 'images/user.png'}}) center / cover;">
                <div class="nkfust-list-pid">隊員</div>
                <h2 style="cursor:pointer" class="mdl-card__title-text nkfust-list-imageTitle">
                    <a style="color:white" href="about.html?id={{t.user.id}}" target="_blank">{{t.user.name}}</a>

                    <button ng-click="removeTeamMember(t)" ng-show="project.setable || t.user.id == loginUser.id" id="project_member_delete_{{t.id}}" type="button" class="nkfust-project-member-close mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="mdl-tooltip" for="project_member_delete_{{t.id}}">刪除</div>
                </h2>
            </div>
            <div class="mdl-card__supporting-text nkfust-list-card-content">
                <label>學號:</label>{{t.user.studentId || '未填寫'}}<br />
                <label>學院:</label>{{t.user.department.college.name || '未填寫'}}<br />
                <label>系所:</label>{{t.user.department.name || "未填寫"}}<br />
                <label>專長:</label>
                <span ng-hide="t.user.specialty.length">未填寫</span>
                <span ng-repeat="t2 in t.user.specialty">
                    <span ng-show="t2 != t.user.specialty[0]">、</span>{{t2}}
                </span>
            </div>
        </div>
    </div>
</div>
<!--課程成員只有在成員數量大於0才顯示或者是可進行新增成員的人-->
<div class="nkfust-project-member" ng-show="project.setable || project.team.assistant.length + project.team.teacher.length > 0">
    <h5>課程成員</h5>
    <button ng-style="unSetableStyle" ng-click="addTeamMember(false)" id="project_member_course_add" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored nkfust-project-member-add">
        <i class="material-icons">add</i>
    </button>
    <div class="mdl-tooltip" for="project_member_course_add">新增課程成員</div>
    <div class="mdl-grid">
        <div ng-repeat="t in project.team.teacher" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
            <div class="nkfust-memberList-card-image mdl-card__title mdl-card--expand" style="background: url({{t.user.photo.url || 'images/user.png'}}) center / cover;">
                <div class="nkfust-list-pid">指導教授</div>
                <h2 style="cursor:pointer" class="mdl-card__title-text nkfust-list-imageTitle">
                    <a style="color:white" href="about.html?id={{t.user.id}}" target="_blank">{{t.user.name}}</a>

                    <button ng-click="removeTeamMember(t)" ng-show="project.setable || t.user.id == loginUser.id" id="project_member_delete_{{t.id}}" type="button" class="nkfust-project-member-close mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="mdl-tooltip" for="project_member_delete_{{t.id}}">刪除</div>
                </h2>
            </div>
            <div class="mdl-card__supporting-text nkfust-list-card-content">
                <label>學院:</label>{{t.user.department.college.name || '未填寫'}}<br />
                <label>系所:</label>{{t.user.department.name || "未填寫"}}<br />
                <label>專長:</label>
                <span ng-hide="t.user.specialty.length">未填寫</span>
                <span ng-repeat="t2 in t.user.specialty">
                    <span ng-show="t2 != t.user.specialty[0]">、</span>{{t2}}
                </span>
            </div>
        </div>
        <div ng-repeat="t in project.team.assistant" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
            <div class="nkfust-memberList-card-image mdl-card__title mdl-card--expand" style="background: url({{t.user.photo.url || 'images/user.png'}}) center / cover;">
                <div class="nkfust-list-pid">助教</div>
                <h2 style="cursor:pointer" class="mdl-card__title-text nkfust-list-imageTitle">
                    <a style="color:white" href="about.html?id={{t.user.id}}" target="_blank">{{t.user.name}}</a>

                    <button ng-click="removeTeamMember(t)" ng-show="project.setable || t.user.id == loginUser.id" id="project_member_delete_{{t.id}}" type="button" class="nkfust-project-member-close mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="mdl-tooltip" for="project_member_delete_{{t.id}}">刪除</div>
                </h2>
            </div>
            <div class="mdl-card__supporting-text nkfust-list-card-content">
                <label>學號:</label>{{t.user.studentId || '未填寫'}}<br />
                <label>學院:</label>{{t.user.department.college.name || '未填寫'}}<br />
                <label>系所:</label>{{t.user.department.name || "未填寫"}}<br />
                <label>專長:</label>
                <span ng-hide="t.user.specialty.length">未填寫</span>
                <span ng-repeat="t2 in t.user.specialty">
                    <span ng-show="t2 != t.user.specialty[0]">、</span>{{t2}}
                </span>
            </div>
        </div>
    </div>
</div>

<!--成員需求只有在需求數量大於0才顯示或者是可進行公告需求的人-->
<div class="nkfust-project-member" ng-show="project.setable || project.memberRequest.length > 0">
    <h5>成員需求</h5>
    <button ng-click="addRequest()" ng-style="unSetableStyle" id="project_request_add" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored nkfust-project-member-add">
        <i class="material-icons">add</i>
    </button>
    <div class="mdl-tooltip" for="project_request_add">新增成員需求</div>
    <div class="mdl-grid">
        <div ng-repeat="t in project.memberRequest" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
            <div class="nkfust-list-card-image mdl-card__title mdl-card--expand" style="max-height:42px;height:42px">
                <h2 class="mdl-card__title-text nkfust-list-imageTitle">
                    <span style="color:white">{{t.isTeacher ? "指導教授" : "團隊成員"}}</span>

                    <button ng-click="removeRequest(t)" ng-style="unSetableStyle" id="project_memberRequest_delete_{{t.id}}" type="button" class="nkfust-project-member-close mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="mdl-tooltip" for="project_memberRequest_delete_{{t.id}}">刪除</div>
                </h2>
            </div>
            <div class="nkfust-project-member-content mdl-card__supporting-text">
                <label>所需專長:</label>
                <ul>
                    <li ng-hide="t.specialty.length">無限制</li>
                    <li ng-repeat="t2 in t.specialty">{{t2.value}}</li>
                </ul>
            </div>
            <div class="nkfust-project-member-action mdl-card__actions mdl-card--border mdl-grid">
                <button id="project_request_join_{{t.id}}" ng-disabled="!loginUser" ng-click="joinRequest(t)" ng-hide="project.editable || t.sent" class="mdl-cell mdl-cell--6-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                    應徵
                </button>
                <button id="project_request_quit_{{t.id}}" ng-disabled="!loginUser" ng-click="quitRequest(t)" ng-hide="project.editable || !t.sent" class="mdl-cell mdl-cell--6-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                    取消
                </button>
                <button id="project_request_list_{{t.id}}" ng-click="openResponseList(t)" ng-show="project.setable" class="mdl-cell mdl-cell--6-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    列表
                </button>
                <button id="project_request_edit_{{t.id}}" ng-click="editRequest(t)" ng-show="project.setable" class="mdl-cell mdl-cell--6-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    編輯
                </button>
            </div>
            
        </div>
        <div ng-repeat="t in project.memberRequest">
            <div class="mdl-tooltip" for="project_request_join_{{t.id}}">以目前使用者身分應徵</div>
            <div class="mdl-tooltip" for="project_request_quit_{{t.id}}">取消應徵</div>
            <div class="mdl-tooltip" for="project_request_list_{{t.id}}">開啟應徵者列表</div>
            <div class="mdl-tooltip" for="project_request_edit_{{t.id}}">編輯需求項目</div>
        </div>
    </div>
</div>