<div ng-show="project.editable && !project.competition" class="nkfust-project-edit-nav">
    <button ng-click="addDocument()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        上傳檔案
    </button>
    <button ng-click="addCover()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        上傳封面
    </button>
</div>
<ul style="font-size:12pt">
    <li style="line-height:35px;" ng-repeat="t in project.files">
        <!--<button id="project_document_remove_{{t.id}}" ng-click="removeDocument(t)" ng-show="project.editable" class="nkfust-project-document-close mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            ×
        </button>-->
        <button id="project_document_remove_{{t.id}}" ng-click="removeDocument(t)" ng-show="project.editable && !project.competition" class="close item-close">
            ×
        </button>
        <a target="_blank" href="{{t.file.url}}">[{{t.file.type==0?'文件':'圖片'}}]{{t.name || t.file.name}}</a>
        <div class="mdl-tooltip" for="project_document_remove_{{t.id}}">刪除文件</div>
    </li>
</ul>