<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="創意創新雲端平台，提供創意構想發佈與討論" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>創意創新雲端平台 - 國立高雄第一科技大學</title>



    <!--#region styles-->
    <!--#region sweetalert-->
    <link rel="stylesheet" href="lib/sweetalert/sweetalert.css" />
    <link href="lib/sweetalert/themes/google/google.css" rel="stylesheet" />
    <!--#endregion-->
    <!--#region bootstarp-->
    <link rel="stylesheet" href="lib/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <!--#endregion-->
    <!--#region mdl-->
    <link rel="stylesheet" href="lib/mdl/material.min.css" />
    <!--#endregion-->
    <!--#region page styles-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href="lib/font-awesome-4.6.1/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles/goodidea.css" />
    <!--#endregion-->
    <!--#endregion-->
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <include src="pages/navigation.html"></include>

        <div ng-controller="about" class="android-content mdl-layout__content">
            <div style="width:100%;{{loading?'':'visibility: collapse'}}" class="nkfust-page-progress mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
            <a name="top"></a>

            <div class="android-more-section">
                <div class="pageTitle android-section-title mdl-typography--display-1-color-contrast">個人資訊</div>
                <div class="android-card-container mdl-grid">
                    <div style=" height: 100%;" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--3dp">
                        <div class="nkfust-about-card-image mdl-card__title mdl-card--expand" style="background: url({{user.photo.url || 'images/user.png'}}) center / cover;">
                            <h2 class="mdl-card__title-text nkfust-list-imageTitle">
                                <span style="color:white">{{user.name}}</span>
                            </h2>
                        </div>
                        <div class="nkfust-about-card-content mdl-card__supporting-text">
                            <label>學號:</label>{{user.studentId || '未填寫'}}<br />
                            <label>學院:</label>{{user.department.college.name || '未填寫'}}<br />
                            <label>系所:</label>{{user.department.name || "未填寫"}}<br />
                            <div ng-show="editable">
                                <label>信箱:</label>{{user.email || "未填寫"}}<br />
                                <label>電話:</label>{{user.phone || "未填寫"}}<br />
                            </div>
                            <label>專長:</label>
                            <span ng-hide="user.specialty.length">未填寫</span>
                            <span ng-repeat="t in user.specialty">
                                <span ng-show="t != user.specialty[0]">、</span>{{t.value}}
                            </span>
                        </div>
                        <div ng-show="editable" class="mdl-card__actions mdl-card--border mdl-grid" style="padding:0">
                            <button ng-hide="user.isLinkFB" ng-click="connectFB()" style="white-space: nowrap;" class="mdl-cell mdl-cell--6-col mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
                                串聯Facebook
                            </button>
                            <button ng-show="user.isLinkFB" ng-click="unconnectFB()" style="white-space: nowrap;" class="mdl-cell mdl-cell--6-col mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
                                取消串聯Facebook
                            </button>
                            <button ng-click="edit()" style="white-space: nowrap;" class="mdl-cell mdl-cell--6-col mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
                                更新基本資料
                            </button>
                        </div>
                    </div>
                    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--3dp">
                        <div class="mdl-grid mdl-tabs__tab-bar nkfust-about-header-tab">
                            <a href="#Information-Panel" class="mdl-cell mdl-cell--4-col mdl-tabs__tab is-active">自我介紹</a>
                            <a href="#Own-Panel" class="mdl-cell mdl-cell--4-col mdl-tabs__tab">發起提案</a>
                            <a href="#Participate-Panel" class="mdl-cell mdl-cell--4-col mdl-tabs__tab">參與提案</a>
                        </div>
                        <div class="mdl-layout__content" style="width:100%">
                            <div class="mdl-tabs__panel is-active" id="Information-Panel">
                                <div ng-show="editable" class="nkfust-project-edit-nav">
                                    <button ng-hide="editing" ng-click="editInformation()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                        編輯
                                    </button>
                                    <button ng-show="editing" ng-click="back()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                        返回
                                    </button>
                                </div>
                                <div style="padding:8px;" ng-hide="editing" class="nkfust-project-content" id="project-content" ng-bind-html="user.htmlContent">

                                </div>
                                <div ng-show="editing" class="nkfust-project-content">
                                    <textarea id="editor"></textarea>
                                </div>
                            </div>
                            <div class="mdl-tabs__panel" id="Own-Panel">
                                <div ng-show="editable" class="nkfust-project-edit-nav">
                                    <button ng-click="addProject()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                        新增提案
                                    </button>
                                </div>
                                <div class="mdl-grid">
                                    <div ng-repeat="t in user.projectList.own" class="mdl-cell--12-col nkfust-about-project">
                                        <div class="nkfust-about-project-class">
                                            <span>{{t.class.name}}</span>
                                            <span style="margin-left:5px;" id="project_views_{{t.id}}"><i class="fa fa-fire" aria-hidden="true"></i>{{t.views}}</span>
                                        </div>
                                        <div class="nkfust-about-project-header">
                                            <a class="nkfust-about-project-title" href="project.html?id={{t.id}}">{{t.name}}</a>
                                            <span style="font-size: 10px;background-color:#ffefc6;padding: 4px 5px 3px;" ng-hide="t.isPublish">PRIVATE</span>
                                        </div>
                                        <div class="nkfust-about-project-time" id="project_time_{{t.id}}">{{t.timeString}}</div>
                                        <div class="mdl-tooltip" for="project_time_{{t.id}}">{{t.lastEditTime.format('yyyy-mm-dd HH:MM:ss')}}</div>

                                        <div class="mdl-tooltip" for="project_views_{{t.id}}">瀏覽人次</div>
                                    </div>
                                </div>
                            </div>
                            <div class="mdl-tabs__panel" id="Participate-Panel">
                                <div class="mdl-grid">
                                    <div ng-repeat="t in user.projectList.participate" class="mdl-cell--12-col nkfust-about-project">
                                        <div class="nkfust-about-project-class">
                                            <span>{{t.class.name}}</span>
                                            <span style="margin-left:5px;" id="project_views_{{t.id}}"><i class="fa fa-fire" aria-hidden="true"></i>{{t.views}}</span>
                                        </div>
                                        <div class="nkfust-about-project-header">
                                            <a class="nkfust-about-project-title" href="project.html?id={{t.id}}">{{t.name}}</a>
                                            <span style="font-size: 10px;background-color:#ffefc6;padding: 4px 5px 3px;" ng-hide="t.isPublish">PRIVATE</span>
                                        </div>
                                        <div class="nkfust-about-project-time" id="project_time_{{t.id}}">{{t.timeString}}</div>
                                        <div class="mdl-tooltip" for="project_time_{{t.id}}">{{t.lastEditTime.format('yyyy-mm-dd HH:MM:ss')}}</div>

                                        <div class="mdl-tooltip" for="project_views_{{t.id}}">瀏覽人次</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <include src="pages/footer.html"></include>
        </div>
    </div>
    <!--#region script-->
    <script src="lib/tinymce/js/tinymce.min.js"></script>

    <script src="lib/nativeExtensions.js"></script>
    <script src="lib/dateFormat.js"></script>
    <script src="lib/goodideaLib.js"></script>

    <script src="lib/mdl/material.min.js"></script>

    <script src="lib/angularJs/angular.min.js"></script>
    <script src="lib/angularJs/angular-animate.js"></script>
    <script src="lib/angularJs/ui-bootstrap-tpls-2.1.3.min.js"></script>

    <script src="lib/sweetalert/sweetalert.min.js"></script>

    <script src="lib/markdown/markdown-it.js"></script>
    <script src="lib/markdown/markdown-it-sup.js"></script>
    <script src="lib/markdown/markdown-it-sub.js"></script>
    <script src="lib/markdown/markdown-it-video.js"></script>
    <script src="lib/to-markdown.js"></script>

    <script src="scripts/aboutEditor.js"></script>
    <script src="scripts/main.js"></script>

    <script src="scripts/about.js"></script>

    <script src="scripts/googleAnalytics.js"></script>


    <!--#endregion-->

</body>
</html>