<div ng-controller="nav_top" class="android-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
        <span id="nav_top_logo" class="android-title mdl-layout-title">
            <a href="index.html"><img class="android-logo-image" src="images/nav-top-logo.png"/></a>
        </span>
        <div class="mdl-tooltip" for="nav_top_logo">返回首頁</div>
        <!-- Add spacer, to align navigation to the right in desktop -->
        <div class="android-header-spacer mdl-layout-spacer"></div>
        <div id="nav_simple_search" class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="search-field">
            </div>
        </div>
        <div class="mdl-tooltip" for="nav_simple_search">使用關鍵字快速搜尋平台中所有公開提案</div>
        <!-- Navigation -->
        <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
                <a id="nav_top_project_list" class="mdl-navigation__link mdl-typography--text-uppercase navigation-title" href="">所有提案</a>
                <a id="nav_top_project_request" class="mdl-navigation__link mdl-typography--text-uppercase navigation-title" href="">團隊媒合</a>
                <a id="nav_top_competition" class="mdl-navigation__link mdl-typography--text-uppercase navigation-title" href="">競賽資訊</a>
                <a id="nav_top_search" class="mdl-navigation__link mdl-typography--text-uppercase navigation-title" href="">進階搜尋</a>
                <div class="mdl-tooltip" for="nav_top_project_list">檢視目前平台中已發佈的提案</div>
                <div class="mdl-tooltip" for="nav_top_project_request">檢視目前平台中提案對人員有需求的項目</div>
                <div class="mdl-tooltip" for="nav_top_competition">檢視目前平台中所有的競賽</div>
                <div class="mdl-tooltip" for="nav_top_search">使用關鍵字與限制條件搜尋平台中所有公開的提案</div>
            </nav>
        </div>
        <span class="android-mobile-title mdl-layout-title">
            <img class="android-logo-image" src="images/nav-top-logo.png">
        </span>
        <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">account_circle</i>
        </button>
        <div class="mdl-tooltip" for="more-button">更多操作選項，登入後可進行更多操作</div>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
            <li ng-click="test()" class="mdl-menu__item">個人資訊</li>
            <li class="mdl-menu__item">提案管理</li>
            <li disabled class="mdl-menu__item">登入</li>
            <li class="mdl-menu__item">登出</li>
        </ul>
    </div>
</div>

<div ng-controller="nav_left" class="android-drawer mdl-layout__drawer">
    <span class="mdl-layout-title">
        <a href="index.html"><img class="android-logo-image" src="images/nva-left-logo.png"/></a>
    </span>
    <div class="mdl-tooltip" for="nav_left_logo">返回首頁</div>
    <nav class="mdl-navigation">
        <a id="nav_left_project_list" class="mdl-navigation__link" href="">所有提案</a>
        <a id="nav_left_project_request" class="mdl-navigation__link" href="">團隊媒合</a>
        <a id="nav_left_competition" class="mdl-navigation__link" href="">競賽資訊</a>
        <a id="nav_left_search" class="mdl-navigation__link" href="">進階搜尋</a>
        <div class="android-drawer-separator"></div>
        <span class="mdl-navigation__link" href="">使用者操作</span>
        <a class="mdl-navigation__link" href="">個人資訊</a>
        <a class="mdl-navigation__link" href="">提案管理</a>
        <a class="mdl-navigation__link" href="">登入</a>
        <a class="mdl-navigation__link" href="">登出</a>
        <div class="android-drawer-separator"></div>
        <span class="mdl-navigation__link" href="">相關連結</span>
        <a class="mdl-navigation__link" ng-repeat="t in urls" href="{{t.url}}">{{t.name}}</a>
        
        <div class="mdl-tooltip" for="nav_left_login">發佈或參與提案、投票等操作前必須要登入本系統</div>
        <div class="mdl-tooltip" for="nav_left_project_list">檢視目前平台中已發佈的提案</div>
        <div class="mdl-tooltip" for="nav_left_project_request">檢視目前平台中提案對人員有需求的項目</div>
        <div class="mdl-tooltip" for="nav_left_competition">檢視目前平台中所有的競賽</div>
        <div class="mdl-tooltip" for="nav_left_search">使用關鍵字與限制條件搜尋平台中所有公開的提案</div>
    </nav>
</div>